#comocomprar {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 200px;
    flex-direction: row;
    align-items: top;
    width: 100%;
    gap: 30px;

        .card-body {margin: 20px;}
        
        .card {
            align-content: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
    .a .primary-button {margin-top: 30px;
    margin: 20px;}}
    

div .card-title {    font-size: 20px;
    text-align: center;
    margin: 20px;
}





