/*.body { margin-top: 100px;
}

.contactobody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact {
    width: fit-content;
    height: fit-content;
} */

/*mejorado*/

.body {
    margin-top: 100px; 
  }
  
  .contactobody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
  
    .contact {
      margin-top: 50 px;
      padding: 50px;
    
      flex: 1; // Permite que el texto se ajuste según el espacio disponible
      text-align: center; 
      margin-bottom: 20px; 
    }
  
    .instagram,
    .mail {
      margin-top: 100px;
      margin-right: 50px;
      flex: 1; 
      max-width: 150px;
      img {
        width: 100%; 
        height: auto; 
      }
    }
  }
  
  .contact,
  .instagram,
  .mail {
    max-width: 80%; 
    margin-bottom: 15px; 
  }
