
.bodynosotros  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    .nosotros1{

        background-color: $dark-secondary-color;
        padding: 20px;
        border: 2px solid black;
        justify-content: center;
        align-content: space-between 20px;
        color: white;
        width: 33,3%;
  }}